/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translate(-10rem); }
  80% {
    transform: translate(2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translate(0); }
  80% {
    transform: translate(-2rem); }
  100% {
    opacity: 1;
    transform: translate(5rem); } }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 4rem; }
  .heading-primary-main {
    letter-spacing: 2.8rem;
    display: block;
    margin-bottom: 3rem;
    font-size: 6rem;
    font-weight: 400;
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out; }
  .heading-primary-sub {
    letter-spacing: 1.4rem;
    display: block;
    font-size: 2rem;
    font-weight: 400;
    animation-name: moveInRight;
    animation-duration: 2s;
    /* animation-timing-function: ; */ }

.heading-secondary {
  margin-top: 7rem;
  margin-bottom: 0;
  padding: 3rem;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #c5e6af, #43a764);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-top-big {
  margin-bottom: 8rem; }

.u-margin-top-huge {
  margin-bottom: 10rem; }

.u-margin-top-small {
  margin-bottom: 3rem; }

*::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.section-about {
  background-color: #f7f7f7;
  padding: 5rem;
  margin-top: -20vh;
  padding-bottom: 20rem; }

.section-features {
  padding: 15rem 5rem;
  margin-top: -10rem;
  background-image: linear-gradient(to bottom right, #7ed56fbb, #28b485b9), url("../img/nat-4.jpg");
  background-size: cover;
  transform: skewY(-6deg); }
  .section-features > * {
    transform: skewY(6deg); }

.section-tours {
  background-color: #f7f7f7;
  padding: 10rem 5rem 10rem 0;
  margin-top: -8rem; }

.section-stories {
  margin-top: 0;
  padding: 0 5rem;
  background-color: #f7f7f7; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 2rem 4rem;
  display: inline-block;
  transition: all .2s;
  border-radius: 10rem;
  font-weight: 400;
  position: relative; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.35); }
  .btn:hover::after {
    transform: scaleX(1.1) scaleY(1.2);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.35); }

.btn-white {
  color: #777;
  background-color: white; }
  .btn-white::after {
    background-color: #fff; }

.btn-green {
  color: #fff;
  background-color: #67b86b; }
  .btn-green::after {
    background-color: #67b86b; }

.btn::after {
  content: '';
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 10rem;
  position: absolute;
  z-index: -1;
  transition: all .4s; }

@keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.btn-animated {
  animation: moveInButton 0.8s ease-out .8s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #67b86b;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #67b86b;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #67b86b;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

body {
  font-family: loto sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.7rem;
  color: #777;
  padding: 3rem;
  box-sizing: border-box; }

.header {
  background-image: linear-gradient(to bottom right, #7ed56fbb, #28b485b9), url("../img/hero.jpg");
  height: 95vh;
  background-position: top;
  background-size: cover;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75vh, 0% 100%);
  position: relative; }

.logo-box {
  position: absolute;
  top: 3.5rem;
  left: 2rem; }

.logo {
  height: 2.8rem; }

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.row {
  max-width: 114rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 5rem; }
  .row::after {
    content: '';
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 3rem; }
  .row .col-1-of-2 {
    width: calc((100% - 3rem)/2); }
  .row .col-1-of-3 {
    width: calc((100% - (2 * 3rem))/3); }
  .row .col-2-of-3 {
    width: calc(2*((100% - (2 * 3rem))/3) + 3rem); }
  .row .col-1-of-4 {
    width: calc((100% - (3 * 3rem))/4); }
  .row .col-2-of-4 {
    width: calc(2*((100% - (3 * 3rem))/4) + 3rem); }
  .row .col-3-of-4 {
    width: calc(3*((100% - (3 * 3rem))/4) + 2*3rem); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    position: absolute;
    border-radius: .2rem;
    z-index: 10;
    transition: all .2s;
    outline-offset: 1.5rem; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      outline: 1rem solid #67b86b;
      transform: scale(1.05);
      z-index: 20;
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5); }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9) translateY(-4rem); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
  border-radius: 1px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .2s; }
  .feature-box__icon {
    padding-top: 0.8em;
    font-size: 6rem;
    margin-bottom: .5rem;
    background-image: linear-gradient(to right, #c5e6af, #43a764);
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.card {
  perspective: 1500rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem; }
  .card__side {
    height: 50rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #c5e6af, #43a764); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #c5e6af, #43a764), url(../img/nat-5.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-5.jpg); }
  .card__heading {
    font-size: 2.2rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 1rem;
    width: 60%;
    line-height: 3.5rem; }
  .card__heading-span {
    -webkit-box-decoration-break: clone;
    padding: .8rem 1rem; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(197, 230, 175, 0.8), rgba(67, 167, 100, 0.8)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8)); }
  .card__details ul {
    list-style: none;
    width: 80%; }
    .card__details ul li {
      text-align: center;
      font-size: 1.5rem;
      padding: 1rem; }
      .card__details ul li:not(:last-child) {
        border-bottom: 1px solid #ccc; }
  .card__cta {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%; }
  .card__price-box {
    text-align: center;
    color: #fff;
    margin-bottom: 8rem; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg); }
  .story__shape {
    width: 15rem;
    height: 15rem;
    background-color: orangered;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-1rem) skewX(12deg); }
  .story__img {
    height: 100%; }
  .story__text {
    transform: skewX(12deg); }
