/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
*,*::before,*::after{
    margin:0;
    padding:0;
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
}

body{
    font-family: loto sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.7rem;
    color:#777;
    padding: 3rem;
    box-sizing: border-box;
}
.header{
    background-image: linear-gradient(to bottom right,#7ed56fbb,#28b485b9),url('../img/hero.jpg');
    height: 95vh;;
    background-position: top;
    background-size: cover;
    clip-path: polygon(0% 0%,100% 0%,100% 75vh,0% 100%);
    position: relative;
}
.logo-box{
    position:absolute;
    top: 3.5rem;
    left: 2rem;
}
.logo{
    height: 2.8rem;
}
.text-box{
    position: absolute;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;


}
.heading-primary{
    
    color:white;
    text-transform: uppercase;
    margin-bottom: 4rem;
    
}
.heading-primary-main{
    letter-spacing:2.8rem;
    display:block;
    margin-bottom: 3rem;
    font-size:6rem;
    font-weight:400 ;
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}
.heading-primary-sub{
    letter-spacing:1.4rem;
    display:block;
    font-size: 2rem;
    font-weight:400;
    animation-name: moveInRight;
    animation-duration: 2s;
    /* animation-timing-function: ; */
    
}
@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translate(-10rem);

    }
    80%{
        transform: translate(2rem);
    }
    100%{
        opacity: 1;
        transform: translate(0);

    }
}
@keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translate(0);

    }
    80%{
        transform: translate(-2rem);
    }
    100%{
        opacity: 1;
        transform: translate(5rem);

    }
}

.btn:link,
.btn:visited{
    text-transform: uppercase;
    text-decoration: none;
    padding:2rem 4rem ;
    display: inline-block;
    transition: all .2s;
    border-radius: 10rem;
    font-weight: 400;
    position: relative;

}
.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.35);
    
}
.btn:active{
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.35);
    
}
.btn-white{
    color:#777;
    background-color: white;
}
.btn::after{
    content: '';
    top:0;
    left:0;
    display:inline-block;
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    position:absolute;
    z-index: -1;
    transition: all .4s;
}
.btn-white::after{

background-color: white
}
.btn:hover::after{
    transform:scaleX(1.1) scaleY(1.2);
    opacity:0;
}
@keyframes moveInButton{
    0%{
        opacity: 0;
        transform: translateY(5rem);

    }
   
    100%{
        opacity: 1;
        transform: translateY(0);

    }
}
.btn-animated{
    animation: moveInButton 0.8s ease-out .8s;
    animation-fill-mode: backwards;
}