$color-primary-light:#99ec62;
$color-primary-dark:#036123;
$color-primary:#17ab1e;
$color-grey-dark:#777;
$color-grey-dark-2:#999;
$color-grey-dark-3:#333;

$color-white:#fff;
$color-black:#000;
$color-grey-light-1:#f7f7f7;
$color-grey-light-2:#ccc;
//font
$default-font-size:1.6rem;
//grid
$grid-width:114rem;
$gutter-vertical:5rem;
$gutter-vertical-small:3rem;
$gutter-horizontal:3rem;

$color-secondary-light: #ffb900;
$color-secondary-dark:#ff7730;
$color-tertiary-light: #2998ff;
$color-tertiary-dark:#5643fa;