body{
    font-family: loto sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.7rem;
    color:$color-grey-dark;
    padding: 3rem;
    box-sizing: border-box;
}
.header{
    background-image: linear-gradient(to bottom right,#7ed56fbb,#28b485b9),url('../img/hero.jpg');
    height: 95vh;;
    background-position: top;
    background-size: cover;
    clip-path: polygon(0% 0%,100% 0%,100% 75vh,0% 100%);
    position: relative;
}
.logo-box{
    position:absolute;
    top: 3.5rem;
    left: 2rem;
}
.logo{
    height: 2.8rem;
}
.text-box{
    position: absolute;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;


}